# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.env
.venv/
venv/

# Environment variable file
.env

# VSCode settings (optional)
.vscode/

# Log & database files
logs/
*.log
*.sqlite
*.db

# Output / Export files
exports/
*.csv

# OS / Editor specific
.DS_Store
Thumbs.db
